@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "Open Sans", sans-serif;
  --color-primary: #daff0a;
  --color-secondary: #87e7ef;
  --color-mang: #00161c;
  --color-footer: #001115;
}

/* Globals */
html {
  -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}

/* Background colors */
.bg-mang {
  background-color: var(--color-mang);
}
.bg-primary {
  background-color: var(--color-primary);
}
.bg-primary-hover:hover {
  background-color: var(--color-primary);
}
.bg-secondary {
  background-color: var(--color-secondary);
}
.bg-secondary-hover:hover {
  background-color: var(--color-secondary);
}
.bg-footer {
  background-color: var(--color-mang);
}

/* Text colors */
.text-primary {
  color: var(--color-primary);
}
.text-primary-hover:hover {
  color: var(--color-primary);
}
.text-secondary {
  color: var(--color-secondary);
}
.text-secondary-hover:hover {
  color: var(--color-secondary);
}

/* Ring colors */
.ring-mang {
  --tw-ring-color: var(--color-footer);
}
.ring-primary {
  --tw-ring-color: var(--color-primary);
}

/* Border colors */
.border-primary {
  border-color: var(--color-primary);
}
.border-secondary {
  border-color: var(--color-secondary);
}