---
import HomeHero from "../layouts/HomeHero.astro";
import MerchSection from "../layouts/MerchSection.astro";
import Layout from "../layouts/Layout.astro";
import TiersSection from "../layouts/TiersSection.astro";
import TestimonialSection from "../layouts/TestimonialSection.astro";
import FaqSection from "../layouts/FaqSection.astro";
import Button from "../components/Button.astro";
---

<Layout
  title="Luca Farewell Fund"
  description="Sostieni la Migrazione Assistita"
  link="https://freedomflotilla.info/sostieni-freedom-flotilla-italia/"
>
  <Fragment slot="nav">
    <Button href="/spotify" fw="bold" size="sm">🎹<span class="hidden sm:inline">&nbsp;&nbsp;La playlist</span></Button>
    <Button href="#donate" fw="bold" size="sm" primary>Dona<span class="hidden sm:inline"> ora</span></Button>
  </Fragment>
  <HomeHero />
  <MerchSection />
  <TiersSection link="https://freedomflotilla.info/sostieni-freedom-flotilla-italia/" />
  <TestimonialSection />
  <FaqSection />
</Layout>
