---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import src from "../images/multiverso.png";
import Button from "../components/Button.astro";
---

<Layout title="Luca Farewell Multiverse" description="Attenti a non esagerare con gli Agenti AI">
  <Fragment slot="nav">
    <Button href="/spotify" fw="bold" size="sm">🎹<span class="hidden sm:inline">&nbsp;&nbsp;La playlist</span></Button>
    <Button href="/" fw="bold" size="sm" primary>Dona<span class="hidden sm:inline"> ora</span></Button>
  </Fragment>
  <Image
    src={src}
    alt="Mangrovia Multiverse"
    width={1536}
    height={1024}
    class="w-full"
    loading="lazy"
    decoding="async"
  />
</Layout>
