---
import Logo from "./Logo.astro";
---

<header class="sticky top-2 z-30 backdrop-blur">
  <div class="mx-auto max-w-6xl px-4 py-3 flex items-center justify-between">
    <Logo href="/" title="Luca Farewell" />
    <div class="flex items-center gap-2">
      <slot />
    </div>
  </div>
</header>
